html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
        background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSLLfUHLNoJT7pMFrrVcFYMPDNEscikblRBvw&s');
        background-size: 100%; 
        background-repeat: no-repeat; 
        height: 100%; 
        margin: 0; 
        background-attachment: fixed;
        color: aquamarine;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
     
   
}

.content-box {
    background-color: rgb(102, 121, 129); 
    border-radius: 10px; 
    padding: 20px; 
    max-width: 1200px; 
    margin: 50px auto; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); 
}